<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heartproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeartProject">
        <activity
            android:name=".ActivityMyLifeHygiene"
            android:exported="true" />
        <activity
            android:name=".ActivityMyStressManagment"
            android:exported="true" />
        <activity
            android:name=".ActivityMyTobaccoConsumption"
            android:exported="true" />
        <activity
            android:name=".ActivityMyPhysicalActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityMyDiet"
            android:exported="true" />
        <activity
            android:name=".ActivityMyHeartTracking"
            android:exported="true" />
        <activity
            android:name=".ActivityMyHearth"
            android:exported="true" />
        <activity
            android:name=".ActivityWhoIAm"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>